
@{
    ViewBag.Title = "Cadastro de Produto";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">


<style>
    body {
        background-color: #FFC0A1;
    }

    input {
        background-color: #eee;
        border: none;
        padding: 8px 10px;
    }

    footer {
        background-color: white;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .child-content {
        width: 50%;
    }

    .btn-field {
        display: flex;
        justify-content: center;
    }

    .btn-style {
        border: 1px solid purple;
        border-radius: 4px;
        width: 140px;
        background-color: white;
        color: purple;
        font-weight: 500;
        margin-bottom: 40px;
    }

        .btn-style:hover {
            background-color: purple;
            color: white;
        }

    .form-size {
        background-color: white;
        border: 1px solid #FFC0A1;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    }

    .form-style {
        width: 75%;
    }

    .register-user {
        font-size: 25px;
        text-align: center;
        margin: 20px 0px;
        padding-top: 40px;
    }

    a {
        text-align: center;
        text-decoration: none;
        color: purple !important;
        padding: 7px 70px 7px 70px;
    }

    a:hover {
        text-align: center;
        text-decoration: none;
    }     

    .msg{
        color: green;
        font-weight: bold;
    }
</style>

<body>
    <div class="main-content">
        <div class="child-content">

            <form asp-controller="Product" asp-action="Create" method="post" class="form-size">
                <h1 class="register-user">Cadastro de Produto</h1>
                <div style="margin-bottom: 10px;" class="d-flex justify-content-center"><input type="text" id="nameProduct" name="nameProduct" class="form-style" placeholder="Nome do produto" required/></div>
                <div style="margin-bottom: 10px;" class="d-flex justify-content-center"><input type="number" step="0.01" id="price" name="price" class="form-style" placeholder="Preço" required /></div>
                <div style="margin-bottom: 10px;" class="d-flex justify-content-center"><input type="number"  step="1" min="1" id="quantity" name="quantity" class="form-style" placeholder="Quantidade" required/></div>
                <div class="btn-field">
                    <div><input type="submit" value="Cadastrar" class="btn-style" /></div>
                    <div class="btn-style d-flex align-items-center justify-content-center" style="margin-left: 6px;"><a href="/Product/Show/">Listar</a></div>
                </div>
                <div class="d-flex justify-content-center" style="margin-bottom: 10px;"><span class="msg">@Model</span></div>
            </form>
        </div>
    </div>
</body>
</html>
