@*@model ICollection<Usuario>*@
@model Usuario;

@{
    ViewBag.Title = "Visualizar";
    Layout = "_Layout";
    List<Usuario> storageUsers = new List<Usuario>();
    storageUsers.Add(new Usuario(Model.Id, Model.Nickname, Model.Cpf, Model.Email, Model.Password));
    
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>CPF</th>
    </tr>
    <tr>
        @foreach(var item in storageUsers)
        {
            <td>@item.Id</td>
            <td>@item.Nickname</td>
            <td>@item.Cpf</td>
        }
    </tr>
</table>

