@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ver carros";
}

<div class="displayCarro">
    <header>
        <div class="container">
            <div class="d-flex flex-column">
                <h1 class="font-weight-bold">Carros Seminovos</h1>
                <h2 class="font-weight-light">Todos os carros estão em bom estado, revisão em dia, com os melhores preços do mercado. Tudo isso é apenas aqui, na RsMotores</h2>
            </div>
        </div>
    </header>
</div>
